		.a{width:1000px;height:100px;background-color:red;color:#39f214;}
			.a1{width:243px;height: 20px;background-color:yellow;color:;float:left;}
			.a2{width:227px;height: 27px;background-color:blue;color:;float:right;}
		.b{width:1000px;height:60px;background-color:#201d1d;color:#efdbdb;}
			.b1{width:125px;height: 60px;background-color:white;color:;float:left;}
			.b2{width:125px;height: 60px;background-color:#cced71;color:;float:left;}
			.b3{width:125px;height: 60px;background-color:white;color:;float:left;}
			.b4{width:125px;height: 60px;background-color:#cced71;color:;float:left;}
			.b5{width:125px;height: 60px;background-color:white;color:;float:left;}
			.b6{width:125px;height: 60px;background-color:#cced71;color:;float:left;}
			.b7{width:125px;height: 60px;background-color:white;color:;float:left;}
			.b8{width:125px;height: 60px;background-color:#cced71;color:;float:left;}
		.c{width:1000px;height:463px;background-color:#393d48;color:#d6f81a;}	
		.d{width:1000px;height:243px;background-color:#17ef5e;color:#1f3426;}
			.d1{width: 500px;height: 243px;background:blue;color:;float:left;}
			.d2{width: 240px;height: 243px;background:red;color:;float:left;}
			.d3{width: 260px;height: 243px;background:blue;float:left;}
		.e{width:1000px;height:68px;background-color:#aabbc3;color:#9b7b32;}
		.f{width:1000px;height:241px;background-color:#b5c2d3;color:#e43264;}
			.f1{width: 250px;height: 241px;background:red;color:;float:left;}
			.f2{width: 250px;height: 241px;background:yellow;color:;float:left;}
			.f3{width: 250px;height: 241px;background:red;color:;float:left;}
			.f4{width: 250px;height: 241px;background:yellow;color:;float:left;}
		.g{width:1000px;height:250px;background-color:#e5e5e5;color:#262222;}
			.g1{width:480px;height:250px;background-color:blue;color:green;float: left;}
			.g2{width:250px;height:250px;background-color:green;color:green;float: left;}
			.g3{width:270px;height:250px;background-color:blue;color:green;float: left;}
		.j{width:1000px;height:81px;background-color:#262222;color:#ccf355;}
			.j1{width: 250px;height: 15px;background-color:white;color:;float: left;}
			.j2{width: 595px;height: 15px;background-color:red;color:;float: right;}