@charset "utf-8";
*{padding: 0;margin: 0;}
li{list-style: none;}
img{vertical-align: top;}
body{font-family: "微软雅黑","宋体";font-size:12px;color:#516b7c;}
a{text-decoration: none;color:#a4bcc8;}

.header{width: 1001px;height: 62px;background-color: #232323;margin: auto;}
.header h1{float: left;width: 157px;height: 38px;margin:auto;margin-top: 12px;margin-left: 11px;}
.header h1 img{width: 157px;height: 38px;}

.header ul{width: 747px;height: 62px;float: right;background-color: #232323;}
.header ul li{width: 86px;height: 62px;float: left;background: url(../images/1.jpg) right center no-repeat;line-height:62px;text-align: center;}
.header ul .li1{width: 60px;}
.header ul .li9{width: 84px;background: none;}
.header ul li a{color:#fffaff;}

.header ul li:hover{background:red;/*text-decoration: underline;*/}
.header ul li:hover a{color:yellow;text-decoration: underline;}


/*.ydcy{width: 1001px;height: 286px;padding:36px 0 28px;margin:auto;}*/